/* Styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.board {
    display: inline-block;
    margin: 20px;
}
.cell_norm {
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;

    
    
}

.cell-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.StepD {
    /* Color for StepD tiles */
    background-color: #ccc;

    /* Color for StepD tile text */
    color: #000;
}
.mine {
    /* Color for mines */
    background-color: red;
}
.logo {
    size : fit-content;
}